/* General Reset */  
* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;  
}  

body {  
    background-color: #FFFFFF;  
    color: #333;  
    height: 100vh;  
    display: flex;  
    flex-direction: column;  
}  

/* Navbar */  
nav {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    width: 100%;  
    padding: 10px 20px;  
    background-color: #FFF0EF;  
}  

.logo img {  
    width: 80px;  
    height: 80px;  
    margin-left: 10px;  
}  

.icons {  
    display: flex;  
    gap: 30px;  
    font-size: 25px;  
    padding-right: 20px;  
    cursor: pointer;  
}  

.icons i:hover {  
    color: rgb(139, 106, 64);  
}  

.icons a img {  
    width: 24px;  
    margin-left: 20px;  
}  

/* Payment Section */  
.payment-container {  
    display: flex;  
    justify-content: space-between;  
    height: 100vh;
}  

.form-container {  
    padding: 20px;  
    border: 1px solid #ddd;  
    border-radius: 8px;  
    background-color: #f9f9f9; 
    height: 100vh; 
}  

.summary-container {  
    width: 35%;  
    padding: 20px;  
    border: 1px solid #ddd;  
    border-radius: 8px;  
    background-color: #f9f9f9;  
}  

.form-container input, .form-container select {  
    width: 100%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    font-size: 16px;  
}  

.form-container label {  
    font-weight: bold;  
    margin-bottom: 5px;  
    display: block;  
    color: #333;  
    font-size: 14px;  
}  

.payment-methods {  
    display: flex;  
    gap: 15px;  
    flex-wrap: wrap;  
}  

.payment-methods img {  
    width: 120px;  
    height: 60px;  
    cursor: pointer;  
    padding: 5px;  
    transition: border 0.3s ease;  
}  

.payment-methods img:hover {  
    border-color: #b582a3;  
}  

.pay-now {  
    background-color: #6f4d57;  
    color: #FFFFFF;  
    padding: 12px 20px;  
    font-size: 16px;  
    border: none;  
    border-radius: 20px;  
    cursor: pointer;  
    width: 100%;  
    text-align: center;  
    margin-top: 20px;  
}  

.summary-container h2 {  
    font-size: 18px;  
    margin-bottom: 10px;  
}  

.order-summary {  
    list-style-type: none;  
    padding: 0;  
}  

.order-summary li {  
    display: flex;  
    align-items: center;  
    margin-bottom: 10px;  
}  

.order-summary img {  
    width: 50px;  
    margin-right: 10px;  
}  

.order-summary h3 {  
    font-size: 16px;  
    margin-top: 10px;  
}  

.copyright {  
    text-align: center;  
    font-size: 14px;  
    color: #aaa;  
    margin-top: 20px;  
}
